$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

$text__color--primary: white;
$text__color--dark: #888;
$text__color--darker: #333;
$hover__color--primary: #b59979;
$hover__color--secondary: #beb7ae;
$cod-gray: #1b1b1b;
$color_scroll_thumb: #cbcbcb;
$bg__color--primary: #333333;
$border__color--primary: #484848;
$bg__color__banner: #222;
$bg__special-product: #f9f7f5;

$scroll-factor: 0.5;
$bg__color__breadcrumb: #f9f7f5;
