@import "../../abstracts/variables";

.header__nav-middle {
  background: $bg__color--primary;
  border-bottom: 1px solid $border__color--primary;

  &__wrapped {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem 0;
  }

  &__logo {
    img {
      width: 200px;
      height: 68px;
    }
  }

  &__search {
    display: flex;
    width: 40%;

    input {
      padding: 1rem;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      outline: none;
      border: none;
      width: 85%;
    }

    div {
      background: $hover__color--primary;
      width: 15%;
      padding: 1.4rem 2.8rem;
      display: flex;
      justify-content: center;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;

      i {
        font-size: 1.6rem;
        color: $text__color--primary;
      }
    }
  }

  &__cart {
    display: flex;
    align-items: center;

    i {
      font-size: 2rem;
      color: $text__color--primary;
      margin-right: 20px;
    }

    &__content {
      width: 30px;
      height: 30px;
    }

    .login-title {
      font-size: 1.8rem;
      text-decoration: none;
      color: $white;
      transition: all 0.2s;

      &:hover {
        color: $hover__color--primary;

        i {
          color: $hover__color--primary;
        }
      }

      i {
        font-size: 1.8rem;
        margin-right: 8px;
        transition: all 0.2s;
      }
    }

    &__wrap {
      position: relative;
    }

    &__body {
      border: 2px solid $text__color--primary;
      padding: 0.4rem 1rem;
      color: $text__color--primary;
      font-size: 1.2rem;
      position: absolute;
      z-index: 10;
      background: $border__color--primary;
    }

    &__top {
      width: 15px;
      height: 20px;
      border-radius: 50%;
      border: 2px solid $text__color--primary;

      position: absolute;
      top: -8px;
      left: 50%;
      transform: translateX(-48%);
      z-index: 1;
    }
  }

  &__cart__body {
    position: relative;
    &:hover {
      cursor: pointer;
      .dropdown-cart__wrapped {
        opacity: 1;
        visibility: visible;
      }
    }
    .dropdown-cart__wrapped {
      overflow-x: hidden;
      overflow-y: auto;
      position: absolute;
      top: 30px;
      right: -30px;
      background: $white;
      width: 300px;
      height: 250px;
      border-radius: 3px;
      box-shadow: 0 0 15px rgba($color: #000000, $alpha: 0.9);
      opacity: 0;
      visibility: hidden;
      transition: all 0.2s;
      .dropdown-cart__content {
        color: $text__color--darker;
        ul {
          padding-left: 0;
          padding: 10px;
          margin: 0;
          .dropdown-cart__item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid $gray-500;
            &:hover {
              p {
                color: $hover__color--primary;
              }
            }
            &__img {
              img {
                width: 60px;
                height: 60px;
              }
            }

            &__info {
              display: flex;
              flex-direction: column;
              align-items: flex-start;

              p {
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                transition: all 0.2s;
              }

              div {
                span {
                  color: $hover__color--primary;
                }
                span:nth-child(1) {
                  text-decoration: line-through;
                  color: $text__color--dark;
                  margin-right: 10px;
                }
              }
            }

            i {
              color: inherit;
            }

            &__quantity {
              font-size: 1.4rem;
              color: $text__color--darker;
            }
          }
        }

        &__empty {
          img {
            width: 100%;
            height: 250px;
          }
        }
      }

    }
  }
}
